dotenv .env.local
export OCI_CONFIG_FILE="${PWD}/.oci/config"
export OCI_USER_KEY_FILE="${PWD}/.oci/pem"
export OCI_CLI_RC_FILE="${PWD}/.oci/oci_cli_rc"
mkdir -p "${PWD}/.kube"
export KUBECONFIG="${PWD}/.kube/config"

export VIRTUAL_ENV="${PWD}/.venv"
PATH_add "${VIRTUAL_ENV}/bin"
